{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        
        <tbody>
            {% for string in data -%}
            <tr>
                <td>{{string["symbol"]}}</td>
                <td>{{string["name"]}}</td>
                <td>{{string["shares"]}}</td>
                <td>${{((100*string["price"])|int)/100}}</td>
                
                <td>${{string["total"]}}</script></td>
            </tr>
            {% endfor %}

            <tr>
                <td colspan = 4>CASH</td>
                <td>{{cash}}</script></td>
            </tr>
        </tbody>        

        <tfoot>
            <tr>
                <td colspan=4></td>
                <td><b>{{total}}</b></td>
            </tr>
        </tfoot>

    </table>
{% endblock %}
